body {
  margin: 0;
  background-color: #161535;
  scroll-behavior: smooth;
}

.name h1 {
  margin-left: 85%;
  margin-top: 1.5%;
  font-size: 15px;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#navbar {
  position: sticky;
  background-color: #6C2B84;
  overflow: hidden;
  top: 0;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar a:hover {
  background-color: #ab47a2;
  color: white;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.banner {
  height: 89vh;
  width: 100%;
  background-color: #161535;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .banner {
    flex-direction: row; 
    justify-content: space-between;
  }
}

.bannerletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10%;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .bannerletter {
    flex-direction: row; 
    justify-content: space-between;
  }
}

.banner-left {
  flex: 1;
  color: white;
  font-family: Tahoma, sans-serif;
}

.banner-left .center {
  font-size: 40px;
  margin-bottom: 5%;
}

.banner-left h3 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
  margin-left: 20%;
}

.banner-right {
  flex: 1;
  text-align: center;
}

.banner-right img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.center h1 {
  font-size: 70%;
  overflow: hidden;
  border-right: .15em solid #f568ca;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f568ca; }
}

#about {
  height: auto;
  background-color: #161535;
}

.textabout {
  color: azure;
  font: 40%;
  text-align: center;
}

.schoollabel {
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .schoollabel {
    flex-direction: row; 
    justify-content: space-between;
  }
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.skill-img img {
  width: 100px;
  height: auto;
}

.school {
  min-height: 60vh;
  background-color: #161535;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .school {
    flex-direction: row; 
    justify-content: space-between;
  }
}

.education-section {
  align-items: center;
  display: flex;
  margin-left: -4%;
  justify-content: center;
  height: 20%;
  color: white;
  padding-top: 2%;
  gap: 1rem;
}

.edu-icon {
  width: 20%;
  height: auto;
}

.content-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2%;
  padding: 2% 5%;
  flex-wrap: wrap;
}

.education {
  display: flex;
  gap: 3%;
  flex: 1;
}

.educ1, .educ3 {
  width: 100%;
  height: 40vh;
  padding: 3% 4%;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition-duration: 0.4s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:768px) {
  .educ1, .educ3 {
    flex-direction: row; 
    justify-content: space-between;
  }
}

.educ1 {
  background-color: #7840bc;
  border: 10px solid #211644;
}

.educ1:hover {
  background-color: #f568ca;
  color: white;
}

.educ3 {
  background-color: #d874E8;
  border: 10px solid #61266b;
}

.educ3:hover {
  background-color: #ab47a2;
  color: white;
}

.infoeduc, .collegeeduc {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .infoeduc, .collegeeduc {
    flex-direction: row; 
    justify-content: space-between;
  }
}

.skills {
  background-color: #161535;
  height: 60vh;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .skills {
    flex-direction: row; 
    justify-content: space-between;
  }
}

.infome {
  display: flex;
  justify-content: center;
  padding: 3% 7%;
  flex-direction: column;
  color: white;
  gap: 3rem;
}

@media screen and (min-width:768px) {
  .imfome {
    flex-direction: row; 
    justify-content: space-between;
  }
}

#projects {
  height: 98vh;
  background-color: #161535;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .projects {
    flex-direction: row; 
    justify-content: space-between;
  }
}

#projects h1 {
  color: #f2f2f2;
  margin-left: 5%;
}

.proj1 {
  width: 60%;
  height: 40vh;
  padding: 5px;
  border: 20px solid white;
  border-radius: 20px;
}

.left {
  display: flex;
  justify-content: start;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.right {
  display: flex;
  justify-content: end;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 3%;
}

#contacts {
  height: 71vh;
  background-color: #161535;
  font-size: 20px;
  color: #dfdddd;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  .contacts {
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 10%;
  }
}

#contacts h1 {
  color: aliceblue;
  margin-left: 3%;
  font-size: 30px;
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 50%;
}

input[type=submit] {
  width: 50%;
  background-color: #ab47a2;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7840bc;
}

form {
  margin-left: 5%;
}

textarea {
  resize: none;
  width: 70%;
}
